div.currentInstallation {
    margin: 0 auto; 
}

table.installationData {
    border-collapse: collapse;
	text-align: center;
	line-height: 1.2;
    margin: 0 auto; 
}
table.installationData th {
	width: 25%;
	padding: 10px;
	font-weight: bold;
	vertical-align: top;
	border: 1px solid #ccc;
}
table.installationData td {
	width: 75%;
	padding: 10px;
	vertical-align: top;
	border: 1px solid #ccc;
    overflow-x: auto;
}

/*文字の大きさ自動調節無効*/
body{
  -webkit-text-size-adjust: none;
}

/*ボタンサイズ*/
.btn{
   display: inline-block;
   color:#FFF;
    width: 20%;
    height: auto;
    border-radius: 10%;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;  
    margin:1px 1px;
    padding:2px;
    background-color:#f18254;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
    border-bottom: solid 3px #bd6565;
}

.mainBtn{
   display: inline-block;
   color:#FFF;
    width: 30vw;
    height: 10vh;
    border-radius: 10%;
    line-height: 15vw;
    text-align: center;
    font-size:100%;
    vertical-align: middle;
    overflow: hidden;  
    margin-top: 2vh;
    margin-left:1vw;
    margin-right:1vw;
    margin-bottom:1vh;
    background-color:#f18254;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
    border-bottom: solid 3px #bd6565;
}

/*ツールバー*/
.toolbar{
    background-color:#54C3F1;
    width:100%;
    height:auto;
}

.toolbarBtn{
    color:#f18254;
}


/*カルーセルサイズ*/
.cal{
    height: 35vh;
    width: 100%;
    text-align: center;
    border: solid 4px #f18254;
    background-color:#FFF;
    font-size: 3vh;
    box-shadow: 2px 2px 3px 0 #333;
    border-bottom: solid 3px #bd6565;
    position:relative;
}

/*カルーセル背景*/
.calBack{
    background-image:url('../img/b119.jpg');
    width:100%;
    height:40vh;
}

/*カルーセル画像*/
.calImage{
    object-fit: cover;
    width: 100%;
    height: 75%; 
    text-align: center;
    display: block;
}

/*マップ*/
.map{
    width: 100%;
    height: 100vh;
    position:  fixed;        
    z-index: 1;   
}            

.mapOption{
    position:  absolute;        /* 位置指定 */
    z-index: 2;               /* 重なり順指定 */
    top:0%;
    right:0%;
    text-align:center;
    display: inline-block;
    border-bottom: solid 4px #627295;
    background:  rgba(1,0,255,0);
}

.mapBtn{
    display: inline-block;
    color:#FFF;
    text-align: center;
    border-radius: 10%;
    vertical-align: middle;
    overflow: hidden;  
    background-color:#f18254;
    box-shadow: 2px 2px 3px 0 #333;
    border-bottom: solid 3px #bd6565;
}

/*ボタンサイズ*/
.button1{
    font-size:80%;
    width:40%;
    height:5vh;
    font-weight: bold;
    margin-bottom: 3vw;
}

/*画像サイズ調整*/
.contain{
    object-fit: contain;
    width: 50vw;
    height: 50vh;
}

/*詳細画像サイズ調整*/
.detailImage{
    object-fit: contain;
    width: 100%;
}

/* マーカーチェックボックス */
input[type=checkbox] {
    display: none;
    text-align: center;
}
input[type="checkbox"].checkbox02:checked + label {
	background: #f18254;
	color: #ffffff;
}
.check_label:hover {
    background-color: #ffffff;
}

.check_label {
    display: block;
	float: left;
	margin: 2px;
	width: 45%;
	height: 8vh;
	text-align: center;
	line-height: 8vh;
	padding-left: 1%;
	padding-right: 1%;
	cursor: pointer;
	color: #f18254;
	border: 1px solid #f18254;
} 


/*詳細画面detail文章調整*/
pre {
    overflow: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.tabbar {
    /*height: 49px デフォルト*/
    height: 9vh ;
}
.tabbar__button {
    /*height: 49px デフォルト*/
    height: 9vh ;
}


/*トップページヘッダ*/
.header{
    background-image: url('../img/natori.jpg');
    background-size:cover;
    width: 100%;
    height: 15vh;
    text-align:center;
    object-fit:cover;
}

/*ons-list*/
.list{
    width:100%;
    height:auto;
    margin-bottom:5vh;
    position:static;
}

.listItem1{
    width:100%;
    height:auto;
    /* padding: 1px 1px; */
    margin:1px;
    border: solid 4px #f18254;
    position:relative;
}

.listItem2{
    width:100%;
    height:auto;
    position:relative;
}

.listImage{
    object-fit: cover;
    width: 80%;
    height: auto; 
    display: inline-block;
    padding: 1px;
    border: 1px dotted;
}

/*検索ボックス*/
.search-size{
    width:100%;
    height:10vw;
    margin:1px;
    position:relative;
}

.inline {
    display: inline-block;
}

.popover{
    width:50%;
    height:auto;
}

